@charset "utf-8";
@import "~bootstrap/scss/bootstrap";
@import "./variable.scss";


.background-image {
  background-image: url(../images/bg-image.jpg);
  background-position: bottom;
  background-size:cover
}

.scrollbarbox {
  height: 100%;

}

.scrollbar {
  height: 900px;
  background-color: black;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}


.headerItemStyle {
  color: white;
}

.headerTitleStyle {
  font-weight: bold;
  font-size: 20px;
}

.accordionHeaderStyle {
  font-weight: bold;
  font-size: 21px;
  coler:black;
}
.mainColumnBoxStyle {
  word-wrap:break-all;
  margin: 0px;
  font-size: 18px;
}

.copyright {
  text-align: center;
}



.footer-box-style{
  text-align: center;  
}
