@charset "utf-8";

// Bootsrapのマージン3をコンテンツ間の基準にする

// グラスモーフィズム変数
// opacityは上書きできない仕様らしいのでｒｇばで実装する


.glass-base{
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glass-white-bg{
  background-color: rgb(255, 255, 255);
}

.glass-white-text{
  background-color: rgba(255, 255, 255);
}

.opacity-lv-015{
  background-color: rgba(255, 255, 255,0.15);
}

.opacity-lv-02{
  background-color: rgba(255, 255, 255,0.2);
}

.opacity-lv-025{
  background-color: rgba(255, 255, 255,0.25);
}

.opacity-lv-03{
  background-color: rgba(255, 255, 255,0.3);
}

.opacity-lv-035{
  background-color: rgba(255, 255, 255,0.35);
}

.opacity-lv-04{
  background-color: rgba(255, 255, 255,0.4);
}

.opacity-lv-045{
  background-color: rgba(255, 255, 255,0.45);
}

.opacity-lv-05{
  background-color: rgba(255, 255, 255,0.5);
}

.opacity-lv-055{
  background-color: rgba(255, 255, 255,0.55);
}

.opacity-lv-06{
  background-color: rgba(255, 255, 255,0.6);
}

.opacity-lv-065{
  background-color: rgba(255, 255, 255,0.65);
}

.opacity-lv-07{
  background-color: rgba(255, 255, 255,0.7);
}

.opacity-lv-075{
  background-color: rgba(255, 255, 255,0.75);
}

.opacity-lv-08{
  background-color: rgba(255, 255, 255,0.8);
}

.bootstrap-opacity{
  opacity: 0.7;
}
.text-coler{
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255,1.0); 
  opacity: 1.0;
  text-shadow: 0 0 20px black;
}




.border-radius-lv-10 {
    border-radius: 10px;
}



